@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

h1 {
  font-size: 3rem;
}

h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

ul {
  list-style-type: none;
}

main {
  font-family: 'Popping', sans-serif;
  min-height: 100vh;
  background: -webkit-gradient(linear, left bottom, right top, from(#65dfc9), to(#6cdbeb));
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.glass {
  background: #fff;
  min-height: 80vh;
  margin: 5rem 0;
  width: 60%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 2rem;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media screen and (max-width: 1700px) {
  .glass {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.glass::before, .glass::after {
  content: '';
  background: #fff;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  height: 15rem;
  width: 15rem;
  position: absolute;
  border-radius: 50%;
  z-index: -99;
}

.glass::before {
  top: -5%;
  right: -10%;
}

.glass::after {
  bottom: -7%;
  left: -12%;
}

.dashboard {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
}

.dashboard .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  padding: 0rem 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .link h2 {
  padding: 0 2rem;
}

.dashboard .pro {
  background: -webkit-gradient(linear, left bottom, right top, from(#65dfc9), to(#6cdbeb));
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
}

.dashboard .pro h2 {
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 1700px) {
  .dashboard {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1rem;
  }
  .dashboard .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0;
    padding: 0rem 5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
  .dashboard .link img {
    height: 24px;
    width: 24px;
  }
  .dashboard .link h2 {
    padding: 0 1rem;
  }
}

.games {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5rem;
}

.games .status {
  margin-bottom: 3rem;
}

.games .status h1 {
  margin-bottom: 1rem;
}

.games .status input {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border: 1px solid transparent;
  width: 100%;
  padding: 0.5rem;
  border-radius: 2rem;
}

.games .status input:focus {
  outline: none !important;
  border: 1px solid white;
}

.games .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));
  border-radius: 1rem;
  margin: 2rem 0;
  padding: 2rem;
  -webkit-box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
          box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
}

.games .card img {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.games .card .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin: 0 2rem;
}

.games .card .card-info .progress {
  background: -webkit-gradient(linear, left bottom, right top, from(#65dfc9), to(#6cdbeb));
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  width: 100%;
  height: 25%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.games .card .card-info .progress::after {
  content: '';
  width: 100%;
  height: 100%;
  background: #ececec;
  position: absolute;
  left: 60%;
}

.games .card .percentage {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  font-weight: bold;
  font-size: 2rem;
  background: -webkit-gradient(linear, left bottom, right top, from(#65dfc9), to(#6cdbeb));
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.circle {
  background: #fff;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  height: 15rem;
  width: 15rem;
  position: absolute;
  border-radius: 50%;
}

.circle.circle1 {
  top: 5%;
  right: 15%;
}

.circle.circle2 {
  bottom: 5%;
  left: 15%;
}
/*# sourceMappingURL=style.css.map */