@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

h1 {
  font-size: 3rem;
}

h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

ul {
  list-style-type: none;
}

main {
  font-family: 'Popping', sans-serif;
  min-height: 100vh;
  background: -webkit-gradient(linear, left bottom, right top, from(#65dfc9), to(#6cdbeb));
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.glass {
  background: #fff;
  min-height: 80vh;
  margin: 5rem 0;
  width: 60%;
  max-width: 1200px;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 2rem;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.glass::before, .glass::after {
  content: '';
  background: #fff;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  height: 15rem;
  width: 15rem;
  position: absolute;
  border-radius: 50%;
  z-index: -99;
}

.glass::before {
  top: -5%;
  right: -10%;
}

.glass::after {
  bottom: -4%;
  left: -12%;
}

@media screen and (max-width: 1700px) {
  .glass {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .glass {
    width: 615px;
  }
}

@media screen and (max-width: 767px) {
  .glass {
    width: 615px;
    margin: 4rem 1rem;
  }
  .glass::before, .glass::after {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .glass {
    width: 100%;
    margin: 2rem 0;
  }
}

.dashboard {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
}

.dashboard .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  padding: 0rem 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .link h2 {
  padding: 0 2rem;
}

.dashboard .pro {
  background: -webkit-gradient(linear, left bottom, right top, from(#65dfc9), to(#6cdbeb));
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
}

.dashboard .pro h2 {
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 1700px) {
  .dashboard {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1rem 2rem;
  }
  .dashboard .pro {
    max-width: 25%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dashboard .pro img {
    max-width: 50%;
    max-height: 50%;
  }
  .dashboard .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0;
    padding: 0rem 5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
  .dashboard .link img {
    height: 24px;
    width: 24px;
  }
  .dashboard .link h2 {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 1210px) {
  .dashboard {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'user pro' 'nav nav';
  }
  .dashboard .user {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: user;
  }
  .dashboard .links {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: nav;
  }
  .dashboard .links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .dashboard .links ul .link {
    padding: 0 0.1rem;
  }
  .dashboard .pro {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: pro;
    max-width: 100%;
    max-height: 80%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dashboard .pro img {
    width: 66px;
    height: 60px;
  }
}

@media screen and (max-width: 550px) {
  .dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dashboard .links {
    width: 100%;
  }
  .dashboard .links ul {
    text-align: center;
    width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[auto-fill];
        grid-template-rows: repeat(auto-fill, 1fr);
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    justify-items: left;
    margin: 0 auto;
  }
  .dashboard .pro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .dashboard .pro img {
    width: 50px;
    height: 50px;
  }
}

.games {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5rem;
}

.games .status {
  margin-bottom: 3rem;
}

.games .status h1 {
  margin-bottom: 1rem;
}

.games .status input {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border: 1px solid transparent;
  width: 100%;
  padding: 0.5rem;
  border-radius: 2rem;
}

.games .status input:focus {
  outline: none !important;
  border: 1px solid white;
}

.games .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));
  border-radius: 1rem;
  margin: 2rem 0;
  padding: 2rem;
  -webkit-box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
          box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
}

.games .card img {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.games .card .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin: 0 2rem;
}

.games .card .card-info .progress {
  background: -webkit-gradient(linear, left bottom, right top, from(#65dfc9), to(#6cdbeb));
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  width: 100%;
  height: 25px;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.games .card .card-info .progress::after {
  content: '';
  width: 100%;
  height: 100%;
  background: #ececec;
  position: absolute;
  left: 60%;
}

.games .card .percentage {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  font-weight: bold;
  font-size: 2rem;
  background: -webkit-gradient(linear, left bottom, right top, from(#65dfc9), to(#6cdbeb));
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 1210px) {
  .games .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .games .card img {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 1rem;
  }
  .games .card .card-info {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .games .card .card-info h2,
  .games .card .card-info p {
    margin-bottom: 0.5rem;
  }
  .games .card .percentage {
    -webkit-box-flex: 60%;
        -ms-flex: 60%;
            flex: 60%;
    width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    font-size: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .games {
    margin: 3rem;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .games {
    margin: 1rem;
  }
  .games h1 {
    font-size: 2rem;
  }
  .games .status {
    margin-bottom: 1rem;
  }
  .games .card img {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
    width: 50%;
  }
  .games .card h2.percentage {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    width: 100%;
    font-size: 3rem;
  }
}

@media screen and (max-width: 355px) {
  .games .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    font-size: 12px;
    padding: 2rem 1rem;
  }
  .games .card img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 1rem;
  }
  .games .card .card-info {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
    margin: 0;
  }
  .games .card .card-info h2,
  .games .card .card-info p {
    margin-bottom: 0.5rem;
  }
  .games .card .percentage {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    font-size: 4rem;
  }
  .games .card .progress {
    width: 100%;
  }
}

.circle {
  background: #fff;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
  height: 15rem;
  width: 15rem;
  position: absolute;
  border-radius: 50%;
}

.circle.circle1 {
  top: 5%;
  right: 15%;
}

.circle.circle2 {
  bottom: 5%;
  left: 15%;
}
/*# sourceMappingURL=style.css.map */